{% extends "base.html" %}

{% block title1 %}{{Queried}}Search{% endblock title1 %}
{% block bigHeader %}
<div style="text-align: center;">
    <div style="display: flex; align-items: center; justify-content: center;">
        <iframe src="https://lottie.host/embed/8bc0d609-344d-4b17-b191-072ea1f34bf6/iF35NeguVJ.json" style="width: 100px; height: 90px; border: none; outline: none;"></iframe>
        <span style="margin-left: 10px;">Automated News Articles</span>
    </div>
</div>
{% endblock bigHeader %}
{% block searchQuery %}
<form class="row g-3 my-3" method = "post" action = "/search/" id="myForm">
    {% csrf_token %}
    {% block tokenBlock %} {{csrff}}{% endblock tokenBlock %} 
    <div class="col-auto">
      <label for="inputtext" class="visually-hidden">Search a topic</label>
    </div>
    <div class="col-auto ">
      <input type="text" class="form-control" id="inputtext" placeholder="Your Interest" name = "queryText">
    </div>
    <div class="col-auto ">
      <button type="submit" class="btn btn-primary px-2">Search</button>
    </div>
  </form>
{% endblock searchQuery %}
{% block title2 %} {{titlez}} {% endblock title2 %}
{% block imgSec %}
<img src="{{ imgUrl }}" alt="Giphy Image" class="img-fluid" >
{% endblock imgSec %}
{% block content1 %}{{Content}}

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Success!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Form submitted successfully!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="script.js"></script>{% endblock content1 %}